@font-face {
    font-family: "Germanica";
    src: url("/fonts/Plain\ Germanica.ttf") format("trueType");
}
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #200084 
}
.deitsch{
    font-family: Germanica;
}
.aboutUsBody{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
p {
    font-size: 1rem;
}
.profilePic
{
    border: solid;
    width: 250px;
    height: 250px;
    border-color: sienna;
    border-width: 6px;
    border-radius: 20px;
}
button{
    background-color: rgba(0, 0, 0, 0);
    color: gold;
    border: solid;
    border-color: black;
    border-radius: 10px;
    font-size: 0.8rem;
    height: 1.8rem;
    width: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;

}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
}
.headerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5px;
    height: 75px;
}
.headerDiv > img {
    height: fit-content;
    width: fit-content;
    border: solid;
    border-color: darkmagenta;
    border-radius: 10px;
    border-width: 4px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: sienna;
    width: 100%;
}
button:hover{
    background-color: rgba(0, 0, 0, 0.3);
    border-color: rgba(255, 255, 255, 0.5);
}
ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin-top: 15px;
    padding: 0;
}
li {
    padding: 5px;
    font-size: 1.5rem;
    width: 300px;
    text-align: center;
}
.resetAndStart{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}
.resetAndStart > button {
    background-color: darkblue;
    margin-top: 20px;
}
.resetAndStart > button:hover{
    border-color: darkmagenta;
}
li:hover{
    text-shadow: 0px 0px 5px darkmagenta;
}
.flashCard{
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    border: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 20px;
    margin-top: 16px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
    height: 500px;
}
.front {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: 100%;  
}
.back{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: inherit;
    height: 100%;  
}
.practiceDiv > div > img {
    width: 300px;
    height: 225px;
    border: solid;
    border-width: 3px;
    background-color: black;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.23);
    padding: 1rem;
}
.aboutUsBody {
    color: lemonchiffon;
}
.links {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid;
    border-width: 5px;
    border-radius: 10px;
    color: black;
    border-color: rgba(15, 0, 255, 0.25);
}
.userAnswer{
    border: solid;
    border-color: rgba(200, 225, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.2);
    border-width: 5px;
    padding: 0.5rem;
    border-radius: 15px;
}
.promptInput{
    background-color: rgba(200, 200, 255, 0.2);
    border: solid;
    border-color: rgba(0, 0, 0, 0.7);
    height: 2rem;

}
.promptInput:focus{
    outline: none;
    border-width: 4px;
    border-color: rgba(0, 0, 0, 1);
}
.promptInput:hover{
    border-width: 4px;
}
.flipReset{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 2rem;
    gap: 8px;
}
.space{
    width: 30px;
}
.score{
    padding: none;
    margin: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60px;
}
.resetButton{
    width: 70px;
    background-color: sienna;
}